@page "/resource/create"
@using BlazorClient.Services
@using WMS.UI.Models.Resource.Request
@inject ResourceService ResourceService
@inject NavigationManager NavigationManager

<h3>"Добавление ресурса"</h3>

<div class="create-form">
    <div class="form-group">
        <label>Наименование:</label>
        <input @bind="resourceTitle" class="form-control" />
    </div>
    
    <div class="form-actions">
            <button @onclick="HandleCreate" class="btn-save">Создать</button>
        <button @onclick="HandleCancel" class="btn-cancel">Отмена</button>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private string resourceTitle = string.Empty;
    
    private async Task HandleCreate()
    {
        if (!string.IsNullOrWhiteSpace(resourceTitle))
        {
            var request = new ResourceParamsRequest(resourceTitle);
            var result = await ResourceService.CreateAsync(request);
            
            if (result)
            {
                NavigationManager.NavigateTo("/resources");
            }
        }
    }
    
    private void HandleCancel()
    {
        NavigationManager.NavigateTo("/resources");
    }
}