@page "/unit-of-measures"
@using BlazorClient.Services
@using WMS.UI.Models.Enums
@using WMS.UI.Models.UnitOfMeasure.Response
@inject UnitOfMeasureService UnitOfMeasureService
@inject NavigationManager NavigationManager

<h3>Еденицы измерения</h3>

<div class="resource-actions">
    <div class="state-buttons">
        <button @onclick="() => LoadUnitOfMeasures(State.Working)" class="@(currentState == State.Working ? "active" : "")">Рабочие</button>
        <button @onclick="() => LoadUnitOfMeasures(State.Archived)" class="@(currentState == State.Archived ? "active" : "")">Архивные</button>
    </div>
    <button @onclick="NavigateToCreate" class="add-button">Добавить</button>
</div>

@if (isLoading)
{
    <p>Загрузка...</p>
}
else if (!unitOfMeasures.Any())
{
    <p>Нет едениц измерения</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Наименование</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var resource in unitOfMeasures)
        {
            <tr>
                <td>
                    <button @onclick="() => NavigateToReceipt(resource.Id)" 
                            class="resource-button">
                        @resource.Title
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<UnitOfMeasureResponse> unitOfMeasures = new();
    private bool isLoading = true;
    private State currentState = State.Working;

    protected override async Task OnInitializedAsync()
    {
        await LoadUnitOfMeasures(currentState);
    }

    private async Task LoadUnitOfMeasures(State state)
    {
        isLoading = true;
        currentState = state;
        unitOfMeasures = await UnitOfMeasureService.GetByStateAsync(state);
        isLoading = false;
    }

    private void NavigateToCreate()
    {
        NavigationManager.NavigateTo("/unit-of-measure/create");
    }

    private void NavigateToReceipt(Guid id)
    {
        NavigationManager.NavigateTo($"/unit-of-measure/edit/{id}");
    }
}